@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-slate-50 text-slate-800;
		font-family: 'Inter var', 'Inter', sans-serif;
	}
}

/* Custom scrollbar  */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	@apply bg-sky-100;
}
::-webkit-scrollbar-thumb {
	@apply bg-sky-500 rounded-full border-2 border-sky-100;
}
::-webkit-scrollbar-thumb:hover {
	@apply bg-sky-600;
}
